.index-list {
    height: 100%;
    
    border-right: 1px solid #C0C0C0;

    .index-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 30px;
        cursor: pointer;

        &.selected, &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}